body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.center-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 40%;
    max-height: 80%;
    overflow: auto;
}

.form-group {
    margin-bottom: 20px;
}

.input-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.input_texto {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

.payment-methods img {
    margin-right: 5px;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: orange;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: darkorange;
}

.image-container {
    width: 50%;
}

.example-image {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
